@model _1000Words.Models.ViewModels.AlbumDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Album.Name</h1>
<h5>(@Model.Photos.Count() photos)</h5>

<div class="card-deck">
    @foreach (var item in Model.Photos)
    {
        var photoPath = "~/images/" + (item.Path ?? "noimage.jpg");

        <div class="m-2">
            <a asp-controller="Photos" asp-action="Details" asp-route-id="@item.Id">
                <img class="card-img-top imageThumbnail" src="@photoPath"
                     asp-append-version="true" />
            </a>
        </div>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Album.Id">Edit Album</a> |
    <a asp-action="Index">Back to Albums</a>
</div>
