@model _1000Words.Models.ViewModels.AlbumEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Album</h1>
<h5>(@Model.PhotoAlbums.Count() photos)</h5>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Album.Id" />
            <div class="form-group">
                <label asp-for="@Model.Album.Name" class="control-label"></label>
                <input asp-for="@Model.Album.Name" class="form-control" />
                <span asp-validation-for="@Model.Album.Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="@Model.Album.UserId" />

            <div class="form-group">
                <input type="submit" value="Save changed name" class="btn btn-primary" />
            </div>
        </form>

        <div class="card-deck">
            @foreach (var item in Model.PhotoAlbums)
            {
                var photoPath = "~/images/" + (item.Photo.Path ?? "noimage.jpg");

                <form asp-controller="PhotoAlbums" asp-action="Delete" method="post" asp-route-id="@item.Id">
                    <div class="m-2">
                        <div class="hovereffect">
                            <img class="card-img-top imageThumbnail" src="@photoPath"
                                 asp-append-version="true" />
                            <div class="overlay">
                                <input type="submit" value="Remove Photo" class="btn btn-sm btn-light m-1 mt-5" />
                            </div>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
