@model _1000Words.Models.ViewModels.PhotoDescriptionsViewModel

@{
    ViewData["Title"] = "Details";
    var photoPath = "~/images/" + (Model.Photo.Path ?? "noimage.jpg");
}

<h1>Photo Details</h1>

<div>
    <div class="d-flex mb-2">
        <div class="col-md-4">
            <img class="card-img" src="@photoPath" asp-append-version="true" />
        </div>
        <div class="col-md-4">
            <dl class="row">
                <dt class="col-sm">
                    @Html.DisplayNameFor(model => model.Photo.FormattedDate):
                </dt>
                <dd class="col-sm">
                    @Html.DisplayFor(model => model.Photo.FormattedDate)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm">
                    Keywords:
                </dt>
                <dd class="col-sm">
                    @foreach (Description description in Model.Descriptions)
                    {
                        <p>
                            @description.Keyword
                        </p>
                    }
                </dd>
            </dl>

        </div>
    </div>
</div>

<div class="col-md-4">
    <a asp-action="Edit" asp-route-id="@Model.Photo.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Photo.Id">Delete</a> |
    <a asp-action="Index">Back to Photos</a>
</div>
