@model IEnumerable<_1000Words.Models.Photo>

@{
    ViewData["Title"] = "Index";
}

<h1>Photos</h1>

<div class="d-flex flex-lg-row">
    <p class="mr-1">
        <a asp-action="Create" class="btn btn-primary">Add Photo</a>
        <a asp-action="CreateMultiple" class="btn btn-primary">Add Multiple Photos</a>
    </p>
    <form asp-controller="PhotoAlbums" asp-action="CreateMultiple" method="get">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <input type="hidden" asp-for="@Model.ToList()[i].Id" />
        }
        <div>
            <input type="submit" value="Add All Photos to an Existing Album" class="btn btn-primary" />
        </div>
    </form>
</div>

@if (!Model.Any())
{
    <h4>
        No results found for "@ViewData["DisplayFilter"]".
    </h4>
}

<div class="card-deck">
    @foreach (var item in Model)
    {
        var photoPath = "~/images/" + (item.Path ?? "noimage.jpg");

        <div class="m-1">
            <div class="hovereffect">
                <img class="card-img-top imageThumbnail" src="@photoPath"
                     asp-append-version="true" />
                <div class="overlay">
                    <a asp-controller="Photos" asp-action="Details" asp-route-id="@item.Id"
                       class="btn btn-sm btn-light m-1 mt-4">Details</a>
                    <br />
                    <a asp-controller="PhotoAlbums" asp-action="Create" asp-route-id="@item.Id"
                       class="btn btn-sm btn-light m-1">Add to Album</a>
                    <br />
                    <a asp-controller="Photos" asp-action="Edit" asp-route-id="@item.Id"
                       class="btn btn-sm btn-light m-1">Edit Keywords</a>
                    <br />
                    <a asp-controller="Photos" asp-action="Delete" asp-route-id="@item.Id"
                       class="btn btn-sm btn-light m-1">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

@*<input type="checkbox" class="photo-checkbox" id="checkbox-@item.Id" />
    <br />*@
